body
{

}

.icon-link
{
    height: 100%;
    display: flex;
    align-items: center;
}

.icon-svg
{
    /* width: 25px; */
    width: 100%;
    /* margin: auto; */
    transition: .2s ease-out all;
}

.icon-svg:hover
{
    /* https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(53%) sepia(72%) saturate(2238%) hue-rotate(172deg) brightness(100%) contrast(93%);
}

/* Liens */
.link
{
    position:relative;
    z-index: 0;
}

.link::before
{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30%;
    background-color: #19a9f6;
    z-index: -1;
    transition: .3s ease all;
}

.link:hover::before
{
    height: 80%;
}